@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.custom-swal-title {
  color: #4CAF50; /* Green color for the title */
}

.custom-swal-text {
  color: #333; /* Dark color for the text */
}

.custom-swal-popup {
  background-color: #F5F5F5; /* Light grey background */
}

select optgroup {
}

select option {
}

select option:active {
  background: #f57b2a !;
  color: #fff;
}

select option:checked {
  background: #f57b2a;
  color: #fff;
  box-shadow: 0 0 10px 10px #1BA1E2 inset;
}

.select-option option:active {
  background-color: #f89f63 !important;
  box-shadow: 0 0 10px 10px #1BA1E2 inset;
}


/* Create a blurred effect */
.border-blur::after {
  backdrop-filter: blur(8px); /* Adjust the blur intensity as needed */
}

.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.tab {
  padding: 10px;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  flex: 1;
  text-align: center;
}

.tab.active {
  background-color: #ddd;
  border-bottom: 2px solid #333;
}

.tab-content {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.tab-panel {
  display: none;
}

.tab-panel.active {
  display: block;
}

/* Keyframes for fade-in and slide-in animation */
@keyframes fadeInSlideIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Container for UI List */
.ui-list-container {
  /* Optional styling for container */
}

/* Styles for each list item */
.ui-list-item {
  /* Ensure the items have the correct dimensions and spacing */
  padding: 16px;
  /* border: 1px solid #e5e5e5;  */
  border-radius: 8px;
  /* background-color: transparent; */
  transition: background-color 0.3s;
}

/* Apply the animation to items */
.animate-item {
  opacity: 0; /* Start with opacity 0 */
  animation: fadeInSlideIn 0.5s forwards; /* Adjust the duration as needed */
}

/* Animation delays to create a sequential appearance effect */
.ui-list-item:nth-child(1) {
  animation-delay: 0s;
}
.ui-list-item:nth-child(2) {
  animation-delay: 0.1s;
}
.ui-list-item:nth-child(3) {
  animation-delay: 0.2s;
}
.ui-list-item:nth-child(4) {
  animation-delay: 0.3s;
}


.swiper-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 5%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.7), transparent);
  z-index: 10;
}

.swiper-overlay-left {
  left: 0;
}

.swiper-overlay-right {
  right: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.7), transparent);
}

.swiper-button-next, .swiper-button-prev {
  color: #000; /* Adjust color as needed */
  background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent background */
  border-radius: 50%; /* Circular buttons */
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 20px; /* Adjust icon size as needed */
}
